 /* Resetando margens e padding */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;

    overflow-y: auto;
}


/* Header */
header {
    background-color: #1477AE;
    color: white;
    padding: 70px;
    position: relative;
}

/* Título no canto superior esquerdo */
header .titulo {
    position: absolute;
    left: 20px;
    top: 20px;
    margin: 0;
    font-size: 50px;
    font-family: serif;
    color: white;
    text-decoration: none;
}
/* links do Header */
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75%;
    left: 30%;
    gap: 30px;
}

.linkpagina2{
    color: white;
    text-decoration: none;
}
.linkpagina2:hover{
    color: #dfdfdf;
    text-decoration: underline;
}
.facacadastro{
    color: white;
    text-decoration: none;
}
.facacadastro:hover{
    color: #dfdfdf;
    text-decoration: underline;
}
.quemsomos{
    color: white;
    text-decoration: none;
}
.quemsomos:hover{
    color: #dfdfdf;
    text-decoration: underline;
}

/* Barra de pesquisa centralizada */
.barradepesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.barradepesquisa input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.barradepesquisa button {
    padding: 10px 15px;
    background-color: #0c5f7a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.barradepesquisa button:hover {
    background-color: #0a4f63;
}

/* Main */
main {
    background-color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 200px;
}
h2{
    margin-left: 80px;
    padding: 40px;
    font-size: 40px;
}
.livros{
    margin-top: 1200px;
    margin-left: -400px;
    display: flex;
    gap: 40px;
}
.livro {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.livro img {
    width: 220px;
    height: 300px;
    border-radius: 8px;
    height: 315px;

}

.livro h3 {
    margin: 10px 0;
    color: #333;
}

.livro p {
    color: #000000;
    font-size: 20px;
}

.livro button {
    background-color: #1477AE;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.livro button:hover {
    background-color: #0c5f7a;
}


/* Footer */
footer {
    background-color: #002f62;
    padding: 20px;
    text-align: center;
    
    margin-top: 160px;
}

footer p {
    margin: 5px 0;
    color: white;
}

footer a {
    color: #0084ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}